<section  >
  <div class="container mt-2">
    <!--Nav-->
    <!--<div th:replace="nav :: nav"></div>-->
    <div class="card mt-1">
      <div class="card-header">
        <h3>Liste des Clients</h3>
        <div class="my- float-end">
          <a  class="btn btn-outline-info ">Nouveau</a>

        </div>
      </div>

      <div class="card-body">
        <!--Formulaire de recherche-->
        <div class="d-flex w-50 mb-5">
          <input type="search" name="telephone"
                 id="telephone" aria-label="search" class="mb-2"
                 #keyword
                 (keyup)="searchTel(keyword.value)"
          >
        </div>

        <table class="table table-bordered">
          <thead>
              <tr>
                <th>Nom et Prenom</th>
                <th>Telephone</th>
                <th>Quartier</th>
                <th>Numero Villa</th>
                <th>Commandes</th>
              </tr>
          </thead>
          <tbody>

            @for (item of response?.results; track $index) {
              <tr>
                <td>{{ item.nomComplet}}</td>
                <td>{{item.telephone}} </td>
                <td>{{item.numVilla}}</td>
                <td>{{item.adresseComplet}}</td>

                <td>
                  <a
                   routerLink="/commandes/{{item.id}}",
                   class="btn btn-outline-success" >Mes Commandes</a>
                  <a  class="btn btn-outline-success ">Nouveau commande</a>
                </td>
             </tr>
            }




          </tbody>
        </table>

        <nav aria-label="Page navigation example">
          <ul class="pagination">
            @for( item of response?.pages; track $index){
            <li class="page-item">

              <a class="page-link"
                   [ngClass]="{'active':$index==response?.currentPage}"
                  (click)="paginate($index)"
                  [textContent]="$index+1"
                 >
                Previous
              </a>
            </li>

            }
            <li class="page-item">
              <a class="page-link"
              >
                Next
              </a>
            </li>

          </ul>
        </nav>


      </div>
    </div>
    <!-- Content here -->

  </div>
</section>

