<div class="container">
  <div class="card mt-2">
      <div class="card-header">
          <h5>Enregistrement d'une commande</h5>
      </div>
      <div class="card-body">
        <form action="" [formGroup]="form" (ngSubmit)="onSubmitForm()">
            <div class="row" formArrayName="client">
              <div class="col">

                <input
                        formControlName="telephone"
                        (keyup)="onSearchClientByTel()"

                        placeholder="telephone"
                        type="text" class="form-control"  aria-label="Last name"


                        >
                        @if (client.controls['telephone'].errors && (client.controls['telephone'].dirty || client.controls['telephone'].touched)) {
                            <small id="telephoneHelp" class="form-text text-danger">
                              Le tel doit contenir 9 chiffres
                            </small>
                        }




              </div>

              <div class="col">
                  <input
                          formControlName="nomComplet"
                          name="nomComplet"
                          readonly
                          placeholder="nomComplet"

                          type="text" class="form-control"  aria-label="First name">

              </div>


              <div class="col">
                  <input
                          formControlName="adresseComplet"
                          name="adresseComplet"
                          placeholder="Adresse"
                          type="text" class="form-control"  aria-label="Last name">
              </div>
            </div>

        <!--End Info Client-->
        <div class="col-md-8 offset-2"


        >
            <div class="row" formArrayName="article">

              <div class="col">
                  <input
                          name="libelle"
                          (keyup)="onSearchProduitByLibelle()"
                          formControlName="libelle"
                          placeholder="Libelle"
                          type="text" class="form-control"  aria-label="First name">
              </div>

              <div class="col">

                  <input
                          name="quantite"
                          formControlName="qteStock"
                          placeholder="Quantite stock"
                          readonly

                          type="text" class="form-control"  aria-label="Last name">

                          @if (article.controls['quantite'].errors && (article.controls['quantite'].dirty || article.controls['quantite'].touched)) {
                            <small id="telephoneHelp" class="form-text text-danger">
                              La doit etre positif
                            </small>
                         }
                         @if (article.errors && (article.controls['quantite'].dirty || article.controls['quantite'].touched)) {
                          @if (article.errors['qteIsNotValid']) {
                            <small id="telephoneHelp" class="form-text text-danger">
                              La quantite doit etre inferieur a qteStocl
                            </small>
                          }
                          @if (article.errors['isNotNumber']) {
                            <small id="telephoneHelp" class="form-text text-danger">
                              La quantite doit etre un nombre
                            </small>
                          }


                      }
              </div>

                <div class="col">
                    <input
                            name="prix"
                            formControlName="prix"
                            placeholder="Prix Unitaire"
                            readonly
                            type="text" class="form-control"  aria-label="First name">
                </div>

                  <div class="col">
                      <input
                              name="quantite"
                              formControlName="quantite"
                              placeholder="Quantite commande"
                              type="text" class="form-control"  aria-label="First name">
                  </div>


                <div class="col">
                    <button
                            [disabled]="article.invalid"
                            (click)="addProduitToPanier()"
                            class="btn btn-outline-success">Ajouter</button>
                </div>

            </div>


        </div>

        <!--Table -->
        <h5 class="my-3">Panier Article</h5>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Article</th>
                <th>Prix</th>
                <th>Qte</th>
                <th>Montant</th>
            </tr>
            </thead>
            <tbody>
              @for (item of this.articlesPanier.controls; track $index){
                <tr >
                  <td>{{ item.get("libelle")?.value }}</td>
                  <td>{{ item.get("prix")?.value }}</td>
                  <td>{{ item.get("quantite")?.value }}</td>
                  <td>{{ item.get("montant")?.value }}</td>
              </tr>

              }

            </tbody>

        </table>

        <!--Total-->
        <div class="row ">
            <div class="col ">
                <button type="button" class="btn btn-info fs-5">
                    Total <span class="badge  text-white fs-4 font-monospace"

                >{{ this.total.value }}</span>
                </button>
            </div>
            <div class="col  ">
                <button [disabled]="client.invalid ||articlesPanier.invalid"    class="btn btn-success float-end">
                    Valider la commande
                </button>
            </div>
        </div>

        </form>




      </div>
  </div>
</div>
